{% extends 'index.html' %}
{% load static %}
{% block content %}
    <h1>DRAWN STORY</h1>
    <table class="table border-bottom schedules-content">

        <tbody class="text-color-lighter">

        <tr class="d-flex">
            <th scope="row" class="col-lg-9"> Title: {{ story.title }}</th>
            <th scope="row" class="col-md-9"> Genre: {{ story.genre }}</th>
            <th scope="row" class="col-md-9"> World: {{ story.world }}</th>
        </tr>

        <tr class="col-2">
            <th scope="row" class="col-4"> Hero: {{ hero.name }}</th>
            <th scope="row" class="col-4"> intelligence: {{ hero.intelligence }}</th>
            <th scope="row" class="col-4"> strength: {{ hero.strength }}</th>
            <th scope="row" class="col-4"> speed: {{ hero.speed }}</th>
            <th scope="row" class="col-4"> durability: {{ hero.durability }}</th>
            <th scope="row" class="col-4"> biography: {{ hero.biography }}</th>
            <th scope="row" class="col-4"> alteregos: {{ hero.alteregos }}</th>
            <th scope="row" class="col-4"> gender: {{ hero.gender }}</th>
            <th scope="row" class="col-4"> race: {{ hero.race }}</th>
            <th scope="row" class="col-4"> occupation: {{ hero.occupation }}</th>


        </tr>

        <tr>
            <th><img src="{{ hero.image }}" alt="Hero"></th>
        </tr>


        <tr>
            <th><a href="/modifystory/{{ story.id }}/" class="btn btn-outline-primary" role="button">Start Your
                Story</a></th>
        </tr>

        </tbody>
    </table>
{% endblock %}